:root{     
    --color-nav: #2563EB;     
    --color-nav1: #F8FAFC;     
    --color-nav2: #E2E8F0;     
    --color-nav3: #CBD5E1;     
    --color-secundario: #22C55E;     
    --color-textos: #0D1117;     
    --Blanco-Suave: #FFF9F1; 
}

/* Separador */
.flat-divider {
    position: relative;
    text-align: center;
}

.flat-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-textos);
    z-index: 1;
}

.flat-divider h5 {
    position: relative;
    display: inline-block;
    z-index: 2;

    margin: 0;
    padding: 0 15px;

    background-color: var(--color-nav1);
}