:root{     
    --color-nav: #2563EB;     
    --color-nav1: #F8FAFC;     
    --color-nav2: #E2E8F0;     
    --color-nav3: #CBD5E1;     
    --color-secundario: #22C55E;     
    --color-textos: #0D1117;     
    --Blanco-Suave: #FFF9F1; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #596579;
}

#padre{
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);  
    margin-top: 10px;
    width: 80%;
    background-color: #252C3D;
    border-radius: 10px;
}

.nombre{
    display: flex;
    gap: 10px;
}

/*IMagen dl formulario*/
.imagen-registro{
    background-image: url(../img/imagen-registro.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/* Reemplaza #btnRegistro por una clase .btn-principal */
.btn-principal {
    background-color: #38B6FF;
    transition: transform 0.2s ease;
    color: white;
}

.btn-principal:hover {
    transform: translateY(-5px);
    color: white;
}

/* Separador */
.flat-divider {
    position: relative;
    text-align: center;
}

.flat-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-textos);
    z-index: 1;
}

.flat-divider h5 {
    position: relative;
    display: inline-block;
    z-index: 2;

    margin: 0;
    padding: 0 15px;

    background-color: #252C3D;
}