:root{     
    --color-nav: #2563EB;     
    --color-nav1: #F8FAFC;     
    --color-nav2: #E2E8F0;     
    --color-nav3: #CBD5E1;     
    --color-secundario: #22C55E;     
    --color-textos: #0D1117;     
    --Blanco-Suave: #FFF9F1; 
}